@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mindig Fényes kft </h1>
    <p>Köztéri lámpák telepítése és karbantartása garanciával.</p>
</div>

Adja meg a meghibásodott eszköz címét: <br />
<form action="Bejelent" method="post">
    <input type="text" name="cim" />
    <input type="submit" value="Beküld" />
</form>

